<form class = "form-horizontal">
<legend>Sign up</legend>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   
	  <%= f.label :name %><br />
      <%= f.text_field :name %>

	<div><%= f.label :email %> <br />
  <%= f.email_field :email %>
	<span class="help-inline">Please use your school email address</span>

  <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

	<div>
		<%= f.label :school %> <br />
		<%= f.collection_select :school_id, School.all, :id, :name, {:include_blank => true} %>
	</p> </div>
	
	<div>
		<%= f.label :dorm %> <br />
		<%= f.collection_select :dorm_id, Dorm.all, :id, :name, {:include_blank => true} %>
	</p> </div>

  <%= f.submit "Sign up", :class => "btn btn-info" %>
<% end %>

<%= render "devise/shared/links" %>
</form>
