<%= form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal"} do |f| %>

  <%= devise_error_messages! %>
  
  <legend>Sign up</legend>
  
  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => "Name" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :placeholder => "Email" %>
      <%= content_tag :span, "Please use your school email address", class: "help-inline" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, class: "control-label" %>
    <div class="controls">

      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, class: "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :placeholder => "Retype your password" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :school_id, class: "control-label" %>
    <div class="controls">
      <%= f.collection_select :school_id, School.all, :id, :name, {:include_blank => true} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :dorm_id, class: "control-label" %>
    <div class="controls">
      <%= f.collection_select :dorm_id, School.all, :id, :name, {:include_blank => true} %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Sign up", :class => "btn btn-info" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= render "devise/shared/links" %>
    </div>
  </div>


<% end %>
