<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %> <br />
  <%= f.email_field :email %>
	<p> Note: Please use school email </p></div>

  <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

	<div>
		<%= f.label :school %> <br />
		<%= f.collection_select :school_id, User::SCHOOLS, :to_s, :to_s%> 
		       <%#uncomment to add more schools:include_blank => true %>
	</p> </div>
	
	<div>
		<%= f.label :dorm %> <br />
		<%= f.collection_select :dorm_id, User::DORMS, :to_s, :to_s, :include_blank => true %>
	</p> </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
