<h1> <div class = "page-header"> <%= @dorm.name%></div> </h1>

<h2> Welcome back, here is everyone in your dorm! </h2>

<h3><blockquote> <% @dorm.users.each do |user| %> 
	<%= user.name %> <br/>
	<% end %> </blockquote> </h3>

	<div id = "search">		
	<h3> Type in a person and see where they're living OR search for a dorm and see who is living there! </h3>
	<div id="search2">
	<%= form_tag search_path, :method => "get" do %>
	
		 <%= search_field_tag(:name)%> 
		 <div id="search_button"> <%= submit_tag "Search", :name => nil, :class => "btn btn-info"%> </div>
	<%end%>
	</div>
