<h2>Resend unlock instructions</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :class => "form-horizontal", :method => :post }) do |f| %>
  <%= devise_error_messages! %>

 <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
      <%= f.email_field :email, :placeholder => "Email" %>
      <%= content_tag :span, "Please use your school email address", class: "help-inline" %>
    </div>
  </div>

  <div><%= f.submit "Resend unlock instructions", :class => "btn btn-info" %></div>
<% end %>

<%= render "devise/shared/links" %>
