<h1> Edit User </h1>
	
<%= form_for @user do |a| %> 
	<p>
		<%= a.label :name %> <br/>
		<%= a.text_field :name %>
	</p>
	
	<p>
		<%= a.label :email %> <br/>
		<%= a.text_field :email %>
	</p>
	
	<p>
		<%= a.label :password %> <br/>
		<%= a.text_field :password %>
	</p>
	
	<p>
		<%= a.label :school %> <br/>
		<%= a.text_field :school_id %>
	</p>
	
	<p>
		<%= a.label :dorm %> <br/>
		<%= a.text_field :dorm_id %>
	</p>
	
	<p>
		<%= a.submit "Edit"%>
	</p>
	
	<% end %>