<h2>Sign in</h2>

<%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"} do |f| %>
  <div class ="control-group">
	<%= f.label :email, class: "control-label" %>
	<div class="controls">
  	<%= f.email_field :email, :placeholder => "Enter your email" %> 
	</div>
   </div>

	<div class ="control-group">
	 <%= f.label :password, class: "control-label" %>
		<div class="controls">
  			<%= f.password_field :password, :placeholder => "Enter your password" %> 
		</div>
   </div>


  <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
	<%= f.check_box :remember_me %>
	<input type="checkbox"> 
	<%= f.label :remember_me%>
	</label>
  <% end %>

  <div class="control-group">
    <div class="controls">
	<%= f.submit "Sign in", :class => "btn btn-info" %>
	</div>
	</div>
<% end %>
<div class="control-group">
    <div class="controls">
		<%= render "devise/shared/links" %>
	</div>
</div>
