<!DOCTYPE html>
<html>
<head>
  <title>Dormy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">Dormy</a>
	    <ul class="nav">
	      <li class="active"> <%= link_to "About", welcome_about_path%> </li>
  		  <li> <%= link_to "FAQ", welcome_FAQ_path%> </li>
        <% if current_user %>
          <li><%= link_to "Sign out", destroy_user_session_path(@user)%> </li>
        <% else %>
          <li> <%= link_to "Sign up", new_user_registration_path(@user)%> </li>
          <li><%= link_to "Sign in", new_user_session_path(@user)%> </li>
        <% end %>
		  
		 
	    </ul>
	  </div>
	</div>
	
	
<% if flash[:notice]  %>	   
  <div class="alert"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert]  %>	   
  <div class="alert"><%= flash[:alert] %></div>
<% end %>
<div class ="container">
	<%= yield %>
</div>
</body>
</html>

	