<!DOCTYPE html>
<html>
<head>
  <title>Dormy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class ="container">
	<%= yield %>
</div>
<section id = "bottom"> 		

	<div id = "navigation"> 			      
		<ul>
        	<%= link_to "Sign in",  new_user_session_path(@user)%>
			<%= link_to "Sign out", destroy_user_session_path(@user)%>
			<%= link_to "Sign up", new_user_registration_path(@user)%>
			<%= link_to "FAQ", welcome_FAQ_path%>
			<%= link_to "About", welcome_about_path%>
        	<a href="http://www.stuffstanfordstudentseat.tumblr.com" title="Blog"> Blog </a>

		
    
      </ul>
    </div>
</section>
</body>
</html>

	